<a href="https://colab.research.google.com/github/AftabUdaipurwala/PythonBasics/blob/main/Python_Pandas_Tutorial_4_Read_Write_Excel_CSV_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from google.colab import drive
# Mounting the drive for loading the data
drive.mount('/content/drive')
!ls '/content/drive/MyDrive/py-master/pandas/4_read_write_to_excel/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
new.csv			    read_write_excel_file.txt  stock_data.xlsx
new.xlsx		    read_write_with_flask      stocks_weather.xlsx
read_write_csv_excel.ipynb  stock_data.csv

In [5]:
# Read data from a Csv file format
df = pd.read_csv('/content/drive/MyDrive/py-master/pandas/4_read_write_to_excel/stock_data.csv')
df.head(2)

  tickers    eps  revenue price      people
0   GOOGL  27.82       87   845  larry page
1     WMT   4.61      484    65        n.a.

In [6]:
# to write it back to the csv file we can use the following code
# we dont want index , so index is set to false
# we want headers , so header is true.
# we want only 3 columns so specificing the same
df.to_csv('new.csv', header=True, columns=['tickers','eps','people'], index=False)

In [16]:
# Read data from a excel file format
def convert_people_camelcase(cell):
  return cell.title()


df = pd.read_excel('/content/drive/MyDrive/py-master/pandas/4_read_write_to_excel/stock_data.xlsx',sheet_name='Sheet1', converters={'people': convert_people_camelcase})
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     Larry Page
1     WMT           4.61      484    65           N.A.
2    MSFT             -1       85    64     Bill Gates
3    RIL   not available       50  1023  Mukesh Ambani
4    TATA            5.6       -1  n.a.     Ratan Tata

In [17]:
# writing to excel file
df.to_excel('new.xlsx', sheet_name='Sheet1', startrow=1,startcol=2,index=False)

In [ ]:
# writing multiple dataframes in same excel file in different sheet
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
  df1.to_excel(writer, sheet_name='Stocks')
  df2.to_excel(writer, sheet_name='Weather')